.result-item {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 24px;
    margin-bottom: 24px;
}

.result-item__header {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}

.result-item__duration {
    font-size: 48px;
    font-weight: 700;

    .icon {
        margin-right: 10px;
    }
}

.result-item__schedule {
    margin-left: auto;
}

